html{
    font-size:10px
    font-family: 'Pavanam', sans-serif;
    background-color: deepskyblue;
    background-image: url("https://images.pond5.com/patriotic-confetti-blue-background-footage-085147729_prevstill.jpeg");
    border:2px solid black;
    
    
}

h1{
    color: chocolate;
    margin: 0;
    padding: 20px;
    text-shadow: 3px 3px 1px black;
    text-align:center;
}
body{
 width: 600px;
 margin: 0 auto;
 background-color:khaki;
 padding-left: 10px;
 margin-top:05px;
 margin-bottom: 40px;
 border:1px solid black;
}
p,li{
    font-family: 'Pavanam', sans-serif;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px;
}

ul{
    font-family: 'Pavanam', sans-serif;
}

img {
    
    display: block;
    margin: 0 auto;
}

button {
   margin-left: 480px;
    
   
}

a:hover {
    color: blue;
}
